<div class="container text-center">
  <h1> Cocktails </h1>
  <div class="row">
    <p><%= link_to "Add a new cocktail", new_cocktail_path %></p>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-md-4 col-xs-12">
      <div class="card"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('')">>
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <p><%= link_to "Delete", cocktail_path(cocktail), method: :delete %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

